<app-nav></app-nav>
<button
  mat-fab
  matTooltip="Add a list"
  matTooltipPosition="left"
  (click)="openAddListDialog()"
  class="le-cta-button"
>
  <mat-icon aria-label="Add todo list">add</mat-icon>
</button>

<main class="container" [ngSwitch]="todos.length">
  <div *ngSwitchCase="0">
    <div class="le-loading-content" *ngIf="loadingLists">
      <div class="le-spinner le-spinner--purple">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div
      class="le-no-content le-no-content--interactive"
      *ngIf="!loadingLists"
      (click)="openAddListDialog()"
    >
      <mat-icon class="le-no-content__icon">format_list_bulleted</mat-icon>
      <p class="le-no-content__message">Create your first list</p>
    </div>
  </div>

  <div *ngSwitchDefault>
    <h1>Lists</h1>
    <ng-template ngFor let-list [ngForOf]="todos">
      <mat-card
        matTooltip="{{ list?.description }}"
        matTooltipPosition="above"
        class="le-list-card"
        role="button"
        tabindex="0"
        (click)="openList($event, list.listId)"
      >
        <span>{{ list?.name }}</span>

        <span class="le-list-card__spacer"></span>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="
              openEditListDialog(list.listId, list.name, list.description)
            "
          >
            <mat-icon>create</mat-icon>
            <span>Rename</span>
          </button>
          <button mat-menu-item (click)="deleteTodoList(list.listId)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card>
    </ng-template>
  </div>
</main>
