.le-add-list-item {
  position: fixed;
  bottom: 34px;
  right: 34px;
  z-index: 2;
  animation: 0.3s zoomIn;
}

.le-list-item__desc {
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.4;
  font-size: 16px;
}

@media (min-width: 992px) {
  .le-add-list-item {
    top: 34px;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
