<form class="todo-form" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="todo-full-width">
      <input
        matInput
        type="text"
        placeholder="Task name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field class="todo-full-width">
      <input
        matInput
        type="text"
        placeholder="Task description"
        formControlName="description"
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" [disabled]="addTaskForm.invalid">
      Create task
    </button>
    <button mat-button mat-dialog-close type="button">Close</button>
  </mat-dialog-actions>
</form>
