<form class="todo-form" [formGroup]="editTodoListForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field class="todo-full-width">
        <input
          matInput
          type="text"
          placeholder="List name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field class="todo-full-width">
        <input
          matInput
          type="text"
          placeholder="List description"
          formControlName="description"
        />
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit" [disabled]="editTodoListForm.invalid">
        Update list
      </button>
      <button mat-button mat-dialog-close type="button">Close</button>
    </mat-dialog-actions>
  </form>