.login-box {
  width: 350px;
  margin: auto;
  text-align: center;
}

.center {
  margin: auto;
}

.full-width {
  width: 100%;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
